

/*//////HEADER////////*/ 

header{

    height: 200px;
    
 
}

.title-name h1{

    width: 25%;
    height: 25%;
    text-align: center;
    padding: 35px;
    letter-spacing: 10px;
    color: #e1dccf;
    font-size: xx-large;
    font-size: 45px;
    transition: border-bottom .6s;
    border-bottom: 1px solid transparent;
    padding-bottom: 10px;
}

.title-name h1:hover{

    border-bottom: 1px double #e1dccf;
    
}


.nav{
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.nav-principal{

    padding-top: 0px;
    float: right;
    margin-right: 85px;
    word-spacing: 1px;
}

.nav-principal li{

    display: inline-block;
   
}

.nav-principal a{

    text-decoration: none;
    color: #e1dccf;
    margin-left: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.6s;
    padding-bottom: 10px;
}

.nav-principal a:hover{

    border-bottom: 1px solid white;
    
}

/*//////NAME & PHOTO SECTION ////////*/ 


.name{

    margin-bottom: 0px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.589) ,rgba(0, 0, 0, 0.589)), url(./images/background.jpg);
   height: 100px;
   background-size: contain;
   background-position: center;

}

div .name2 h2{

    margin-left: 300px;
    padding-top: 31px;
    color: #e1dccf;
    width: auto;
    height: auto;
   
}

.img-DV{

    float: right;
    display: inline;
    margin-right: 320px;
}

/*//////ABOUT ME SECTION ////////*/  


.About-me {

   margin-top: 130px;
  display: flex;
  
}

.About-me h2{

    font-size: 25px;
    width: 55%;
    display: flex;
    padding-left: 30px;
    border-right: 1px solid #e1dccf;
    padding-bottom: 25px;
}

div .Text p {

    display: flex;
    width: 80%;
    padding-left: 60px;

}

/*//////////////WORK/////////*/

.My-Work{

    margin-top: 150px;

}

.Images-work{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
 
}

.My-Work h2{

    font-size: 25px;
    width: 100%;
    display: flex;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 50px;
    
}


#My-Work{
display: flex;
flex-wrap: wrap;
width: 100%;
padding-left: 0px;
list-style-type: none;
min-width: 600px;


}

.images-image1{

    background-image: url(../CSS/image1.jpg);
    height: 60vh;
    width: 50%;
    background-size: auto;
    background-position: center;
    padding-top: 120px;
    margin-top: 85px;
    margin-left: 35%;
    transform: scale(1.15);
transition: transform 0.5s, opacity 0.5s;
opacity: 0.7;
display: inline;
}

.images-image1:hover{
    transform: scale(1);
    opacity: 1;

}


#Project1 {

   
    width: 34%;
    height: 70px;
    background-color: #00000075;
    
}

/* Project2*/

.images-image2{

    background-image: url(../CSS/image2.jpg);
    height: 60vh;
    width: 50%;
    background-size: auto;
    background-position: center;
    padding-top: 120px;
    margin-top: 85px;
    margin-left: 10%;
    transform: scale(1.15);
transition: transform 0.5s, opacity 0.5s;
opacity: 0.7;
}

.images-image2:hover{
    transform: scale(1);
    opacity: 1;

}


#Project2 {

   
    width: 34%;
    height: 70px;
    background-color: #00000075;
    
}





/* Project3*/

.images-image3{

    background-image: url(../CSS/image3.jpg);
    height: 60vh;
    width: 50%;
    background-size: auto;
    background-position: center;
    padding-top: 120px;
    margin-top: 85px;
    margin-left: 35%;
    transform: scale(1.15);
transition: transform 0.5s, opacity 0.5s;
opacity: 0.7;

}

.images-image3:hover{
    transform: scale(1);
    opacity: 1;

}


#Project3 {

   
    width: 34%;
    height: 70px;
    background-color: #00000075;
    
}

/* Project4*/

.images-image4{

    background-image: url(../CSS/image4.jpg);
    height: 60vh;
    width: 50%;
    background-size: auto;
    background-position: center;
    padding-top: 120px;
    margin-top: 85px;
    margin-left: 10%;
    transform: scale(1.15);
transition: transform 0.5s, opacity 0.5s;
opacity: 0.7;
}

.images-image4:hover{
    transform: scale(1);
    opacity: 1;

}


#Project4 {

   
    width: 34%;
    height: 70px;
    background-color: #00000075;
    
}






.f-container img:hover{ 

    transform: scale(1);
    opacity: 1;
    
}

/* /////// CONTACT ME /////////*/


.Contact-me{

    margin-top: 150px;
    margin-left: 50px;
}
.Contact-me p{

    padding-top: 35px;
    font-size: 20px;
    color: #e1dccf;
    padding-bottom: 15px;
    display: flex;
    margin-left: 50px;

}

input{

    width: 350px;
    height: 20px;
}

textarea{

    

        width: 350px;
        height: 200px;
    
}

#placeholder{

    text-align: center;

}

label {

    margin-right: 20px;
}
button{

    
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
   border: 1px solid #e1dccf;
   border-radius: 200px;
   color: black;
   transition: background-color 0.4s, border 0.4s,color 0.4s;
}


/*//////FOOTER/////*/


footer{

    height: 120px;
}

footer h4{
padding-top: 25px;
font-size: 13px;
text-align: center;
letter-spacing: 3px;
}


.social-media{

   padding-top: 25px;
    right: 20%;
    top: 45%;
    text-align: center;
    word-spacing: 10px;
    
    
    }
    

    /*QUERIES*/


    @media screen and (max-width: 768px) {
        * {
          flex-direction: column;
        }
      
        main {
          max-width: 1200px;
        }

        div .name2 h2 {

            margin-left: 132px;

      }

      .img-DV{

        margin-right: 240px;
        width: 13%;
      }

    }



    
    @media screen and (max-width: 425px) {

        * {
            flex-direction: column;

        }

        header, main {

            width: 140%;
        }

        header {
          flex-direction: column;
        }
      
        main {
          max-width: 1200px;
        }

        div .name2 h2 {

            margin-left: 132px;

      }

      .img-DV{

        display: none;
      }

  

footer{

    width: 105%;
}

        }